    <!-- <section id="services" class="services">
        <div class="container">
  
          <div class="section-title" data-aos="zoom-out">
            <p>What we do offer</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="icon-box" data-aos="zoom-in-left">
                <div class="icon"><i class="las la la-leaf" style="color: #ff689b;"></i></div>
                <h4 class="title"><a routerLink="/abdullah-products">FERTILIZER</a></h4>
                <p class="description">Any of a large number of natural and synthetic materials, including manure and compounds containing nitrogen, phosphorus, and potassium, spread on or worked into soil to increase its capacity to support plant growth.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                <div class="icon"><i class="las la la-pagelines" style="color: #e9bf06;"></i></div>
                <h4 class="title"><a routerLink="/abdullah-products">HERBICIDES</a></h4>
                <p class="description">An agent used to destroy or inhibit plant growth : a chemical used to destroy plants or stop plant growth : an agent used to destroy or inhibit plant growth
              </p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                <div class="icon"><i class="las la la-paw" style="color: #3fcdc7;"></i></div>
                <h4 class="title"><a routerLink="/abdullah-products">FUNGICIDES</a></h4>
                <p class="description">Fungicides are generally used to control parasitic fungi that either cause economic damage to crop or ornamental plants or endanger the health of domestic animals or humans.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                <div class="icon"><i class="las la la-pied-piper-alt" style="color:#41cf2e;"></i></div>
                <h4 class="title"><a routerLink="/abdullah-products">INSECTICIDES</a></h4>
                <p class="description"> Insecticides are used in agriculture, medicine, industry and by consumers. Insecticides are claimed to be a major factor behind the increase in the 20th-century's agricultural productivity.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mt-5">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                <div class="icon"><i class="las la la-share-alt" style="color: #d6ff22;"></i></div>
                <h4 class="title"><a routerLink="/abdullah-products">GRANULES</a></h4>
                <p class="description"> Little grain or small particle especially : one of a number of particles forming a larger unit. b : a small sugar-coated pill. 2 : a clump of actinomycetes in a lesion.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                <div class="icon"><i class="las la la-shirtsinbulk" style="color: #4680ff;"></i></div>
                <h4 class="title"><a routerLink="/abdullah-products">COTTON</a></h4>
                <p class="description">Cotton strippers are used in regions where it is too windy to grow picker varieties of cotton, and usually after application of a chemical defoliant or the natural defoliation that occurs after a freeze.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section> -->