<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>About</h2>
      <p>Who we are</p>
    </div>

    <div class="row content" data-aos="fade-up">
      <div class="col-lg-6">
        <p>
          At Abdullah Haseeb Agro Chemicals We earn our customers by providing them our levels best in services quality
          and availability.
          And in organization our main focus is to provide a wonderful working environment for our employs.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> <b>Future</b> we will be striving to maintain our values and the
            standards by acquiring support from our valued external & Internal Customers</li>
          <li><i class="ri-check-double-line"></i> <b>Our Products</b> INSECTICIDES, HERBICIDES, FUNGICIDES, FERTILIZER,
            GRANULES </li>
          <li><i class="ri-check-double-line"></i> <b>Domain</b> trust us and maintain a long term relationship. We have
            come a long way to gain market consideration and trust where our employees have been the greatest asset.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Our core values are to assist business to attain the right strength and augment our colleague’s worth.
          We do everything to live up to our customers requirements & expectations. In terms of quality and cost
          effectiveness we provide the best rates in the market where there is no compromise on , quality & consistency
          with care.
        </p>
      </div>
    </div>
  </div>
</section><!-- End About Section -->

<!-- ======= Vision Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Vision</h2>
      <p>Our Vision</p>
    </div>

    <div class="row content" data-aos="fade-up">
      <div class="col-lg-6">
        <p>
          Our working scenario is truly based on customer satisfaction with all agricultural solutions. We are dedicated to provide a respect full
           business to our Distributors. We strive to full fill the all expectations of our Distributors in the sense of quality affordability and fastest delivery.
                
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Our highest standard of behavior including honesty and fairness in all aspects of business.</li>
          <li><i class="ri-check-double-line"></i> We are working to build the most dynamic team for consumers solutions, We are providing exceptional services to our customers by offering an unrevealed high quality research based products on very affordable prices.</li>
          <li><i class="ri-check-double-line"></i> We are also focusing on the adoption of latest agronomic practices to enhance yield.</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Our company
          pays great attention to Latest agricultural technologies and Innovative solutions. 
          That’s why we are Very well recognized origination in Delivering the satisfaction.
        </p>
      </div>
    </div>
  </div>
</section><!-- End Vision Section -->


<!-- ======= Mission Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Mission</h2>
      <p>Our Mission</p>
    </div>

    <div class="row content" data-aos="fade-up">
      <div class="col-lg-6">
        <p>
          To provide comprehensive agricultural solutions right from sowing to harvest, aimed towards the objective of improving sustainability & profitability of farm holdings through continuous investment in research & development while imbibing strong corporate governance values.
        </p>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Our core values are to assist business to attain the right strength and augment our colleague’s worth.
          We do everything to live up to our customers requirements & expectations. In terms of quality and cost
          effectiveness we provide the best rates in the market where there is no compromise on , quality & consistency
          with care.
        </p>
      </div>
    </div>
  </div>
</section><!-- End Mission Section -->

<!-- ======= CEO Message ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>CEO</h2>
      <p>CEO Message</p>
    </div>

    <div class="row content" data-aos="fade-up">
      <div class="col-lg-6">
        <p>
          Asalam o Alaikum, <br><br>

          My name is Abdul Sattar, I involve in agricultural business from last 20 years. <br>

          At Abdullah Haseeb Agro Chemicals We earn our customers by providing them our levels
          best in services quality and availability. And in organization our main focus is to
          provide a wonderful working environment for our employs. <br><br>
          
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i>Our core values are to assist business to attain the right strength and augment our
            colleague’s worth. We do everything to live up to our customers requirements &
            expectations. In terms of quality and cost effectiveness we provide the best rates
            in the market where there is no compromise on , quality & consistency with care.
          </li>
          <li><i class="ri-check-double-line"></i>I am proud that our customers trust us and maintain a long term relationship. We
            have come a long way to gain market consideration and trust where our employees have
            been the greatest asset.</li>
          <li><i class="ri-check-double-line"></i>In future, we will be striving to maintain our values and the standards by acquiring
            support from our valued external & Internal Customers.</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <img src="./assets/img/team/CEO_Sattar.jpg" alt="" class="img-fluid w-75 h-75">
      </div>
    </div>
  </div>
</section><!-- CEO Message Section -->
<app-leadership></app-leadership>