<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">
      <div class="section-title" data-aos="zoom-out">
        <h2>Portfolio</h2>
        <p>Anual Dealars Confrence 2020 Naran</p>
      </div>
      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="./assets/img/events/ad1.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Dealars Confrence</h4>
              <span>2020 Naran</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="./assets/img/events/ad2.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Dealars Confrence</h4>
                <span>2020 Naran</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="./assets/img/events/ad3.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Dealars Confrence</h4>
                <span>2020 Naran</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="./assets/img/events/ad4.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Dealars Confrence</h4>
                <span>2020 Naran</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->


  <!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Portfolio</h2>
        <p>Dealers Training Program</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="./assets/img/events/dt1.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Dealers Training </h4>
              <span>Program</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="./assets/img/events/dt2.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Dealers Training </h4>
                <span>Program</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="./assets/img/events/dt3.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Dealers Training </h4>
                <span>Program</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="./assets/img/events/dt4.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Dealers Training </h4>
                <span>Program</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Farmer Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Portfolio</h2>
        <p>Farmer Meetings</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="./assets/img/events/f1.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Farmer Meetings</h4>
              <span>Different Areas</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="./assets/img/events/f2.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Farmer Meetings</h4>
                <span>Different Areas</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="./assets/img/events/f3.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Farmer Meetings</h4>
                <span>Different Areas</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="./assets/img/events/f4.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Farmer Meetings</h4>
                <span>Different Areas</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Farmer Section -->

  <!-- ======= Feild Day Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Portfolio</h2>
        <p>Field Day</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="./assets/img/events/fe1.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Field Day</h4>
              <span>Different Areas</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="./assets/img/events/fe2.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Field Day</h4>
                <span>Different Areas</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="./assets/img/events/fe3.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Field Day</h4>
                <span>Different Areas</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="./assets/img/events/fe4.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Field Day</h4>
                <span>Different Areas</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Fild Day Section -->

  <!-- ======= High Profile Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Portfolio</h2>
        <p>High Profile Meeting</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="./assets/img/events/hp1.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>High Profile</h4>
              <span>Meeting</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="./assets/img/events/hp2.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>High Profile</h4>
                <span>Meeting</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="./assets/img/events/hp3.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>High Profile</h4>
                <span>Meeting</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="./assets/img/events/hp4.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>High Profile</h4>
                <span>Meeting</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End High Profile Section -->

  <!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Portfolio</h2>
        <p>Team Training And Promotion</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="./assets/img/events/t1.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Team Training</h4>
              <span>And Promotion</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="./assets/img/events/t2.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Team Training</h4>
                <span>And Promotion</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="./assets/img/events/t3.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Team Training</h4>
                <span>And Promotion</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="./assets/img/events/t4.JPG" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>Team Training</h4>
                <span>And Promotion</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= PHOCON Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Portfolio</h2>
        <p>PHOCON Seed Treatment Campaing</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="./assets/img/events/p1.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>PHOCON Seed</h4>
              <span>Treatment Campaing</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="./assets/img/events/p2.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>PHOCON Seed</h4>
                <span>Treatment Campaing</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="./assets/img/events/p3.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>PHOCON Seed</h4>
                <span>Treatment Campaing</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="./assets/img/events/p4.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
                <h4>PHOCON Seed</h4>
                <span>Treatment Campaing</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End PHOCON Section -->