.rawayatImg{
    margin-top: 5rem !important;
    width: 100%;
}
.imgStyle{
    padding: 1rem !important;
    height: 20rem;
}
.iconImg{
    width: 40%;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 14px;
}
.iconImg1{
    width: 40%;
    margin: 4px;
    height: 64px;
}
.show{
    margin-top: 15px;
}
.mapDiv{
    margin: 0.5rem;
}