<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Who we are</p>
        </div>
        <!-- <img src="../../../../server/controller/images/sabir.jpg" alt=""> -->
        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              At Abdullah Haseeb Agro Chemicals We earn our customers by providing them our levels best in services quality and availability.
               And in organization our main focus is to provide a wonderful working environment for our employs.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> <b>Future</b> we will be striving to maintain our values and the standards by acquiring support from our valued external & Internal Customers</li>
              <li><i class="ri-check-double-line"></i> <b>Our Products</b> INSECTICIDES, HERBICIDES, FUNGICIDES, FERTILIZER, GRANULES </li>
              <li><i class="ri-check-double-line"></i> <b>Domain</b>  trust us and maintain a long term relationship. We have come a long way to gain market consideration and trust where our employees have been the greatest asset.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our core values are to assist business to attain the right strength and augment our colleague’s worth. 
              We do everything to live up to our customers requirements & expectations. In terms of quality and cost effectiveness we provide the best rates in the market where there is no compromise on , quality & consistency with care.
            </p>
            <a routerLink="/about" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
            <h2>Businesses</h2>
            <p>Our Businesses</p>
          </div>

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">AHAC 1992</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Abdullah Haseeb Cotton Factory</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Nasrullah Brothers Cotton Ginners</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Zakriya Cotton Industries</h4>
            </a>
          </li>

          <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-5">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Rawayat</h4>
            </a>
          </li>

          <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-6">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Ah Dairy Feed</h4>
            </a>
          </li>

          <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-7">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Elma Ac</h4>
            </a>
          </li>
          <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-8">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Organic Seed Corporation</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>AHAC (Abdullah Haseeb Agero Chemicals) 1992</h3>
                <p class="font-italic">
                    Abdullah Haseeb Agro Chemicals is providing best quality products 
                    and services to farmers through open market networks.It is another landmark for the company to achieve a massively broad network of more than 10,000 
                    dealers across Pakistan named as “Abdullah Haseeb Zarai Markaz”.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> This describes our passion, eagerness, commitment, dedication to serve the farmers of Pakistan with excellence and also work in a way to strengthen agriculture sector of Pakistan</li>
                  <li><i class="ri-check-double-line"></i> Abdullah Haseeb Agro Chemicals deals with research-based products with a strategic look for modern needs wants and changes which are required by the dealers as well as the end-user farmer.</li>
                  <li><i class="ri-check-double-line"></i> The main products Abdullah Haseeb Agro Chemicals include several brands of Insecticides, Herbicides, Weedicides, and Fungicides.</li>
                </ul>
                <p>
                    Special R&D is done for micro-nutrients, pesticides, and seeds. We believe in giving excellence to our farmers 
                    by providing quality products and services.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/portfolio/G2.png" alt="" class="img-fluid w-50">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Abdullah Haseeb Cotton Factory</h3>
                <p>
                  Abdullah haseeb cotton factory was established in 1992 with the effort of Haji Abdul Rehman and Haji Abdul Sattar. The company deals in cotton, cotton ginning, binola seeds & oil and cotton Khal.Our Company always emphasize on 
                  quality & work considerably from the beginning to ensure that we are line above competition.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Pakistan No: 1 Company who export the million of tons Cotton per year.</li>
                  <li><i class="ri-check-double-line"></i> Abdullah Haseeb Cotton Industry Established  in 2000 by the struggles of Haji Abdul Sattar & Haji Abdul Rehman to improve and take part in the nation’s agriculture</li>
                  <li><i class="ri-check-double-line"></i> Effort was to give healthy crops and Quality products to end consumers.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/cotton2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Nasrullah Brothers Cotton Ginners</h3>
                <p>
                    The company has made remarkable achievements in the cotton ginning and oil processing fields.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Nasrullah Brothers Cotton Ginning & Oil Mills has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste.</li>
                  <li><i class="ri-check-double-line"></i> Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.</li>
                </ul>
                <p class="font-italic">
                    Nasrullah Brothers Cotton Ginning & Oil Mills has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste. Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/cotton.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Zakriya Cotton Industries</h3>
                <p>
                    The company has made remarkable achievements in the cotton ginning and oil processing fields.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>  Zakria Cotton Industries has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste.</li>
                  <li><i class="ri-check-double-line"></i> Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.</li>
                </ul>
                <p>
                    SpZakria Cotton Industries has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste. Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/portfolio/I3.png" alt="" class="img-fluid w-50">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Rawayat</h3>
                <p>
                    Riwayat is working with a mission by provides lucrative and dynamic technology to the growers by the help of our skilled and highly professional human resource through national & international associations. Riwayat is working for comprehensive harvesting with the help of high quality yield crops for farmers by providing advance technologies and latest farming methods.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Riwayat Agro Protection we have established Pakistan’s Modern Franchise Network “Riwayat Agro Protection” with the concept of all Agro Inputs available under one roof.</li>
                  <li><i class="ri-check-double-line"></i> To produce high yield, inputs such as seeds, fertilizers and chemicals play an important rote.</li>
                  <li><i class="ri-check-double-line"></i> Sales Network Strength As a reliable and dynamic partner of our valued farmers, we’re best utilizing our areas of expertise to provide services at farmers door-step, through our skillful and dynamic sales force comprising of more than 245 Field Officers, 98 Territory Managers, 18 Regional Sales Managers, and 1 National Sales Manager, Instructed by General Manager.</li>
                </ul>
                <p>
                    We have vastly experienced and qualified technical professionals and business-oriented marketing team. We introduce innovative agricultural developments with emphasis on customized customer services to meet day to day amassed market demands, have been introduced.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/rawayat1.png" alt="" class="img-fluid mt-5">
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab-6">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>AH Diary Feed</h3>
                <p>
                    Unlocking the power of food to enhance quality of life for everyone, today and for generations to come. At AH Dairy Feed Pakistan, the global ideology of Nutrition, Health and Wellness is inspired by the scientific breakthrough of our founder, Haji Abdul Sattar & Haji Abdul rehman and ever since it runs in our DNA. Guided by our values and with nutrition at our core, 
                    we enhance quality of life and contribute to a healthier future.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>  We are the focused in Food & Beverages Company in Pakistan, reaching out to the remotest areas, offering products and services for all stages of life, every moment of the day.</li>
                  <li><i class="ri-check-double-line"></i>  At AH Dairy Feed Pakistan, is Public Interest Company (PIC) and headquartered in Multan, with One production facilities across the country. </li>
                  <li><i class="ri-check-double-line"></i>  Factories in Multan, D.G.Khan are multi-product, whereas the ones in Islamabad, Multan, D.G.Khan are water factories. At AH Dairy Feed Pakistan is a subsidiary of Abdullah Haseeb Group, a company based in Multan, Pakistan. </li>
                </ul>
                <p>
                    Today, millions of consumers across Pakistan mirror our emphasis on nutrition, realizing that food choices impact their health and quality of life. Our food processing company has been operating in Pakistan since 2003 under the Abdullah Haseeb Group, whose management we took over in 1992. For the last several years, At AH Dairy Feed has been consistently placed among the top companies of the Pakistan.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/cow.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>



          <div class="tab-pane" id="tab-7">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>ELMA AC (Agricultur Chemicals)</h3>
                <p>
                    To meet high standard formulation in granule insecticides for major crops i.e. Rice, Maize, Sugarcane and Orchards etc. state of art formulation plant is established in heart of Multan
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>This plant is established in 2018 with the production capacity of 8-10 Tons / Hour.</li>
                  <li><i class="ri-check-double-line"></i> The Plant has most modernized automated PLC system with least human involvement.</li>
                  <li><i class="ri-check-double-line"></i> High-quality silica for the desired grade is prepared and high-end recipe by using top quality sticking. </li>
                </ul>
                <p>
                    A Most Advance Granular Plant agent. All quality measures thoroughly analyzed by the support of advanced technology Lab spontaneously at every step. Main products formulated are Carbofuran, Cartap Hydrochloride, Fipronil, Monomehypo, and Phorate. 
                    We have all expertise to run any tailor-made recipe by any customer.</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/portfolio/elma2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab-8">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Organic Seed Corportaion</h3>
                <p>
                    Organic Seed Corporation (Pvt.) Ltd is playing a key role in seed business as a producer & importer of the superlative quality seed of various crops. Our major emphasis is on field crops like Cotton, Rice, Wheat, Corn Sunflower and Canola as well as minor crops like Vegetables and Fodders crops like Sorghum Sudan Grass and Barseem.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Organic Seeds Corporation offers a broad range of quality products as unique Double gene and triple gene Bt Cotton, Hybrids and open-pollinated varieties in Rice, Corn,Sunflower, Pearl millets, Fodders, and Vegetables.</li>
                  <li><i class="ri-check-double-line"></i> Working on Hybrid Seeds Development of various crops.
                    Genetically Modified Crops Development</li>
                  <li><i class="ri-check-double-line"></i> Cotton Breeding Program at Seed research farms.
                    Testing and evaluating a comprehensive range of different seed varieties.</li>
                </ul>
                <p>
                    SpZakria Cotton Industries has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste. Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="./assets/img/portfolio/f3.png" alt="" class="img-fluid w-50">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <app-service-products></app-service-products> <!-- Its service-product components added -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Portfolio</h2>
          <p>What we've done</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Fertilizer</li>
          <li data-filter=".filter-card">Insecticides</li>
          <li data-filter=".filter-web">Granules</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="./assets/img/portfolio/f1.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Fertilizer 1</h4>
              <p>Fertilizer</p>
              <a href="./assets/img/portfolio/f1.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="./assets/img/portfolio/G1.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Granules 3</h4>
              <p>Granules</p>
              <a href="./assets/img/portfolio/G1.png" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="./assets/img/portfolio/f2.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Fertilizer 2</h4>
              <p>Fertilizer</p>
              <a href="./assets/img/portfolio/f2.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="./assets/img/portfolio/I1.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Insecticides 2</h4>
              <p>Insecticides</p>
              <a href="./assets/img/portfolio/I1.png" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="./assets/img/portfolio/G2.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Granules 2</h4>
              <p>Granules</p>
              <a href="./assets/img/portfolio/G2.png" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="./assets/img/portfolio/f3.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Fertilizer 3</h4>
              <p>Fertilizer</p>
              <a href="./assets/img/portfolio/f3.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="./assets/img/portfolio/I2.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Insecticides 1</h4>
              <p>Insecticides</p>
              <a href="./assets/img/portfolio/I2.png" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="./assets/img/portfolio/I3.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Insecticides 3</h4>
              <p>Insecticides</p>
              <a href="./assets/img/portfolio/I3.png" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="./assets/img/portfolio/G3.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Granules 3</h4>
              <p>Granules</p>
              <a href="./assets/img/portfolio/G3.png" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

<!-- hwer will come leadership    -->
<!-- <app-leadership></app-leadership> -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" class="" href="#faq1">Finding the Right Nutrient Ratio? <i class="icofont-simple-up"></i></a>
            <div id="faq1" class="collapse show" data-parent=".faq-list">
              <p>
                Once you've assessed your lawn's appearance and diagnosed any specific nutrient deficiencies, it's important to find a fertilizer with the right nutrient ratio. If your lawn looks pretty healthy and you simply want to maintain its current appearance, look for a fertilizer with balanced nutrients. Fertilizer packages have labels with numbers specifying the ratio of each nutrient included in the fertilizer mix. The higher the number relative to other numbers, the more there is of that specific element.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq2" class="collapsed">Grass Clippings as Fertilizer? <i class="icofont-simple-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                One important thing to keep in mind is that lawn fertilizers can be harmful to the environment, particularly if you apply so much that it causes runoff. One way to combat this is to sweep up any stray fertilizer granules and toss them back onto your grass rather than in the trash or a compost. You can also help reduce your need for fertilizer by leaving grass clippings on your lawn rather than bagging when you mow. Grass clippings contain nutrients that will feed back into the soil as they break down.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq3" class="collapsed">Spray Versus Granules? <i class="icofont-simple-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Similarly, granules are a better fertilizer type for non-professional lawn care activities. Spray fertilizers have to be applied with much greater regularity than granules, and they can be more difficult to apply evenly. There are some exceptions to this advice, but if you're new to the world of lawn fertilizing, stick with the granules.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-toggle="collapse" href="#faq4" class="collapsed">Quick Versus Slow Release? <i class="icofont-simple-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                Most homeowners who do their own lawn maintenance will want to use a slow-release fertilizer to avoid having to do too many repeat applications. Quick release formulas can result in burning and other damage to the grass, so it's usually best to leave this type to the pros.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    <app-team></app-team>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>6A, Industrial Estate, Multan, Punjab 660</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>abdullah-haseeb@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Phone:</h4>
                <p>061 6514191, +92-301-6969520</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" disabled>Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
