<app-service-products></app-service-products> <!-- Its service-product components added -->
    
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
              <h2>Businesses</h2>
              <p>Our Businesses</p>
            </div>
  
          <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3" data-aos="zoom-in">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                <i class="ri-gps-line"></i>
                <h4 class="d-none d-lg-block">AHAC 1992</h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
              <a class="nav-link" data-toggle="tab" href="#tab-2">
                <i class="ri-body-scan-line"></i>
                <h4 class="d-none d-lg-block">Abdullah Haseeb Cotton Factory</h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
              <a class="nav-link" data-toggle="tab" href="#tab-3">
                <i class="ri-sun-line"></i>
                <h4 class="d-none d-lg-block">Nasrullah Brothers Cotton Ginners</h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-4">
                <i class="ri-store-line"></i>
                <h4 class="d-none d-lg-block">Zakriya Cotton Industries</h4>
              </a>
            </li>
  
            <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-5">
                <i class="ri-store-line"></i>
                <h4 class="d-none d-lg-block">Rawayat</h4>
              </a>
            </li>
  
            <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-6">
                <i class="ri-store-line"></i>
                <h4 class="d-none d-lg-block">Ah Dairy Feed</h4>
              </a>
            </li>
  
            <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-7">
                <i class="ri-store-line"></i>
                <h4 class="d-none d-lg-block">Elma Ac</h4>
              </a>
            </li>
            <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-8">
                <i class="ri-store-line"></i>
                <h4 class="d-none d-lg-block">Organic Seed Corporation</h4>
              </a>
            </li>
          </ul>
  
          <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>AHAC (Abdullah Haseeb Agero Chemicals) 1992</h3>
                  <p class="font-italic">
                      Abdullah Haseeb Agro Chemicals is providing best quality products 
                      and services to farmers through open market networks.It is another landmark for the company to achieve a massively broad network of more than 10,000 
                      dealers across Pakistan named as “Abdullah Haseeb Zarai Markaz”.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> This describes our passion, eagerness, commitment, dedication to serve the farmers of Pakistan with excellence and also work in a way to strengthen agriculture sector of Pakistan</li>
                    <li><i class="ri-check-double-line"></i> Abdullah Haseeb Agro Chemicals deals with research-based products with a strategic look for modern needs wants and changes which are required by the dealers as well as the end-user farmer.</li>
                    <li><i class="ri-check-double-line"></i> The main products Abdullah Haseeb Agro Chemicals include several brands of Insecticides, Herbicides, Weedicides, and Fungicides.</li>
                  </ul>
                  <p>
                      Special R&D is done for micro-nutrients, pesticides, and seeds. We believe in giving excellence to our farmers 
                      by providing quality products and services.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/portfolio/G2.png" alt="" class="img-fluid w-50">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Abdullah Haseeb Cotton Factory</h3>
                  <p>
                    Abdullah haseeb cotton factory was established in 1992 with the effort of Haji Abdul Rehman and Haji Abdul Sattar. The company deals in cotton, cotton ginning, binola seeds & oil and cotton Khal.Our Company always emphasize on 
                    quality & work considerably from the beginning to ensure that we are line above competition.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Pakistan No: 1 Company who export the million of tons Cotton per year.</li>
                    <li><i class="ri-check-double-line"></i> Abdullah Haseeb Cotton Industry Established  in 2000 by the struggles of Haji Abdul Sattar & Haji Abdul Rehman to improve and take part in the nation’s agriculture</li>
                    <li><i class="ri-check-double-line"></i> Effort was to give healthy crops and Quality products to end consumers.</li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/cotton2.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Nasrullah Brothers Cotton Ginners</h3>
                  <p>
                      The company has made remarkable achievements in the cotton ginning and oil processing fields.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Nasrullah Brothers Cotton Ginning & Oil Mills has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste.</li>
                    <li><i class="ri-check-double-line"></i> Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.</li>
                  </ul>
                  <p class="font-italic">
                      Nasrullah Brothers Cotton Ginning & Oil Mills has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste. Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/cotton.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Zakriya Cotton Industries</h3>
                  <p>
                      The company has made remarkable achievements in the cotton ginning and oil processing fields.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i>  Zakria Cotton Industries has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste.</li>
                    <li><i class="ri-check-double-line"></i> Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.</li>
                  </ul>
                  <p>
                      SpZakria Cotton Industries has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste. Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/portfolio/I3.png" alt="" class="img-fluid w-50">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Rawayat</h3>
                  <p>
                      Riwayat is working with a mission by provides lucrative and dynamic technology to the growers by the help of our skilled and highly professional human resource through national & international associations. Riwayat is working for comprehensive harvesting with the help of high quality yield crops for farmers by providing advance technologies and latest farming methods.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Riwayat Agro Protection we have established Pakistan’s Modern Franchise Network “Riwayat Agro Protection” with the concept of all Agro Inputs available under one roof.</li>
                    <li><i class="ri-check-double-line"></i> To produce high yield, inputs such as seeds, fertilizers and chemicals play an important rote.</li>
                    <li><i class="ri-check-double-line"></i> Sales Network Strength As a reliable and dynamic partner of our valued farmers, we’re best utilizing our areas of expertise to provide services at farmers door-step, through our skillful and dynamic sales force comprising of more than 245 Field Officers, 98 Territory Managers, 18 Regional Sales Managers, and 1 National Sales Manager, Instructed by General Manager.</li>
                  </ul>
                  <p>
                      We have vastly experienced and qualified technical professionals and business-oriented marketing team. We introduce innovative agricultural developments with emphasis on customized customer services to meet day to day amassed market demands, have been introduced.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/rawayat1.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
  
            <div class="tab-pane" id="tab-6">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>AH Diary Feed</h3>
                  <p>
                      Unlocking the power of food to enhance quality of life for everyone, today and for generations to come. At AH Dairy Feed Pakistan, the global ideology of Nutrition, Health and Wellness is inspired by the scientific breakthrough of our founder, Haji Abdul Sattar & Haji Abdul rehman and ever since it runs in our DNA. Guided by our values and with nutrition at our core, 
                      we enhance quality of life and contribute to a healthier future.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i>  We are the focused in Food & Beverages Company in Pakistan, reaching out to the remotest areas, offering products and services for all stages of life, every moment of the day.</li>
                    <li><i class="ri-check-double-line"></i>  At AH Dairy Feed Pakistan, is Public Interest Company (PIC) and headquartered in Multan, with One production facilities across the country. </li>
                    <li><i class="ri-check-double-line"></i>  Factories in Multan, D.G.Khan are multi-product, whereas the ones in Islamabad, Multan, D.G.Khan are water factories. At AH Dairy Feed Pakistan is a subsidiary of Abdullah Haseeb Group, a company based in Multan, Pakistan. </li>
                  </ul>
                  <p>
                      Today, millions of consumers across Pakistan mirror our emphasis on nutrition, realizing that food choices impact their health and quality of life. Our food processing company has been operating in Pakistan since 2003 under the Abdullah Haseeb Group, whose management we took over in 1992. For the last several years, At AH Dairy Feed has been consistently placed among the top companies of the Pakistan.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/cow.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
  
  
  
            <div class="tab-pane" id="tab-7">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>ELMA AC (Agricultur Chemicals)</h3>
                  <p>
                      To meet high standard formulation in granule insecticides for major crops i.e. Rice, Maize, Sugarcane and Orchards etc. state of art formulation plant is established in heart of Multan
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i>This plant is established in 2018 with the production capacity of 8-10 Tons / Hour.</li>
                    <li><i class="ri-check-double-line"></i> The Plant has most modernized automated PLC system with least human involvement.</li>
                    <li><i class="ri-check-double-line"></i> High-quality silica for the desired grade is prepared and high-end recipe by using top quality sticking. </li>
                  </ul>
                  <p>
                      A Most Advance Granular Plant agent. All quality measures thoroughly analyzed by the support of advanced technology Lab spontaneously at every step. Main products formulated are Carbofuran, Cartap Hydrochloride, Fipronil, Monomehypo, and Phorate. 
                      We have all expertise to run any tailor-made recipe by any customer.</p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/portfolio/elma2.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
  
            <div class="tab-pane" id="tab-8">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Organic Seed Corportaion</h3>
                  <p>
                      Organic Seed Corporation (Pvt.) Ltd is playing a key role in seed business as a producer & importer of the superlative quality seed of various crops. Our major emphasis is on field crops like Cotton, Rice, Wheat, Corn Sunflower and Canola as well as minor crops like Vegetables and Fodders crops like Sorghum Sudan Grass and Barseem.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Organic Seeds Corporation offers a broad range of quality products as unique Double gene and triple gene Bt Cotton, Hybrids and open-pollinated varieties in Rice, Corn,Sunflower, Pearl millets, Fodders, and Vegetables.</li>
                    <li><i class="ri-check-double-line"></i> Working on Hybrid Seeds Development of various crops.
                      Genetically Modified Crops Development</li>
                    <li><i class="ri-check-double-line"></i> Cotton Breeding Program at Seed research farms.
                      Testing and evaluating a comprehensive range of different seed varieties.</li>
                  </ul>
                  <p>
                      SpZakria Cotton Industries has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste. Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/portfolio/f3.png" alt="" class="img-fluid w-50">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Features Section -->