<app-service-products></app-service-products> <!-- Its service-product components added -->
    
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
              <p>Our Businesses</p>
            </div>
  
          <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3" data-aos="zoom-in">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                <!-- <i class="ri-gps-line"></i> -->
                <img src="./assets/img/abdullah_logo.png" alt="" class="iconImg1">
                <h4 class="d-none d-lg-block">AHAC 1992</h4>
              </a>
            </li>

            <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-8">
                <!-- <i class="ri-store-line"></i> -->
                <img src="./assets/img/organic.png" alt="" class="iconImg1">
                <h4 class="d-none d-lg-block">Organic Seed Corporation</h4>
              </a>
            </li>
  
            <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-5">
                <!-- <i class="ri-store-line"></i> -->
                <img src="./assets/img/rawayat.png" alt="" class="iconImg">
                <h4 class="d-none d-lg-block">Rawayat</h4>
              </a>
            </li>

  
            <li class="nav-item col-3 mt-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-7">
                <!-- <i class="ri-store-line"></i> -->
                <img src="./assets/img/ElmaAc.png" alt="" class="iconImg1">

                <h4 class="d-none d-lg-block">Elma Ac</h4>
              </a>
            </li>
          </ul>
  
          <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>AHAC (Abdullah Haseeb Agero Chemicals) 1992</h3>
                  <p class="font-italic">
                      Abdullah Haseeb Agro Chemicals is providing best quality products 
                      and services to farmers through open market networks.It is another landmark for the company to achieve a massively broad network of more than 10,000 
                      dealers across Pakistan named as “Abdullah Haseeb Zarai Markaz”.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> This describes our passion, eagerness, commitment, dedication to serve the farmers of Pakistan with excellence and also work in a way to strengthen agriculture sector of Pakistan</li>
                    <li><i class="ri-check-double-line"></i> Abdullah Haseeb Agro Chemicals deals with research-based products with a strategic look for modern needs wants and changes which are required by the dealers as well as the end-user farmer.</li>
                    <li><i class="ri-check-double-line"></i> The main products Abdullah Haseeb Agro Chemicals include several brands of Insecticides, Herbicides, Weedicides, and Fungicides.</li>
                  </ul>
                  <p>
                      Special R&D is done for micro-nutrients, pesticides, and seeds. We believe in giving excellence to our farmers 
                      by providing quality products and services.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/ahac.jpg" alt="" class="img-fluid imgStyle w-100 mt-5">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Rawayat</h3>
                  <p>
                      Riwayat is working with a mission by provides lucrative and dynamic technology to the growers by the help of our skilled and highly professional human resource through national & international associations. Riwayat is working for comprehensive harvesting with the help of high quality yield crops for farmers by providing advance technologies and latest farming methods.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Riwayat Agro Protection we have established Pakistan’s Modern Franchise Network “Riwayat Agro Protection” with the concept of all Agro Inputs available under one roof.</li>
                    <li><i class="ri-check-double-line"></i> To produce high yield, inputs such as seeds, fertilizers and chemicals play an important rote.</li>
                    <li><i class="ri-check-double-line"></i> Sales Network Strength As a reliable and dynamic partner of our valued farmers, we’re best utilizing our areas of expertise to provide services at farmers door-step, through our skillful and dynamic sales force comprising of more than 245 Field Officers, 98 Territory Managers, 18 Regional Sales Managers, and 1 National Sales Manager, Instructed by General Manager.</li>
                  </ul>
                  <p>
                      We have vastly experienced and qualified technical professionals and business-oriented marketing team. We introduce innovative agricultural developments with emphasis on customized customer services to meet day to day amassed market demands, have been introduced.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/rawayatShop.jpeg" alt="" class="img-fluid imgStyle rawayatImg">
                </div>
              </div>
            </div>
  
  
  
            <div class="tab-pane" id="tab-7">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>ELMA AC (Agricultur Chemicals)</h3>
                  <p>
                      To meet high standard formulation in granule insecticides for major crops i.e. Rice, Maize, Sugarcane and Orchards etc. state of art formulation plant is established in heart of Multan
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i>This plant is established in 2018 with the production capacity of 8-10 Tons / Hour.</li>
                    <li><i class="ri-check-double-line"></i> The Plant has most modernized automated PLC system with least human involvement.</li>
                    <li><i class="ri-check-double-line"></i> High-quality silica for the desired grade is prepared and high-end recipe by using top quality sticking. </li>
                  </ul>
                  <p>
                      A Most Advance Granular Plant agent. All quality measures thoroughly analyzed by the support of advanced technology Lab spontaneously at every step. Main products formulated are Carbofuran, Cartap Hydrochloride, Fipronil, Monomehypo, and Phorate. 
                      We have all expertise to run any tailor-made recipe by any customer.</p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/elma.png" alt="" class="img-fluid imgStyle mt-5">
                </div>
              </div>
            </div>
  
            <div class="tab-pane" id="tab-8">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Organic Seed Corportaion</h3>
                  <p>
                      Organic Seed Corporation (Pvt.) Ltd is playing a key role in seed business as a producer & importer of the superlative quality seed of various crops. Our major emphasis is on field crops like Cotton, Rice, Wheat, Corn Sunflower and Canola as well as minor crops like Vegetables and Fodders crops like Sorghum Sudan Grass and Barseem.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Organic Seeds Corporation offers a broad range of quality products as unique Double gene and triple gene Bt Cotton, Hybrids and open-pollinated varieties in Rice, Corn,Sunflower, Pearl millets, Fodders, and Vegetables.</li>
                    <li><i class="ri-check-double-line"></i> Working on Hybrid Seeds Development of various crops.
                      Genetically Modified Crops Development</li>
                    <li><i class="ri-check-double-line"></i> Cotton Breeding Program at Seed research farms.
                      Testing and evaluating a comprehensive range of different seed varieties.</li>
                  </ul>
                  <p>
                      SpZakria Cotton Industries has been working in the field with three major units equipped with modernized machinery and processes to ensure the high standards of quality and minimized waste. Professional approach and seriousness of the management contributed a lot to recognize the company in the market as a leader in the industry of Cotton Ginning.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="./assets/img/organic.png" alt="" class="img-fluid imgStyle mt-5">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Features Section -->