<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Leaders</h2>
      <p>Our Leaders</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <img src="./assets/leaders/haji-rehman.jpg" class="img-fluid imgStyle" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Haji Abdul Rehman</h4>
            <span>Chairman</span>
            <p class="text">Identifying as a leading and prominent organization. Providing the world’s best chemistry and innovative solution to their needs, where they provide consumers’ needs.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="./assets/leaders/abdul_satar.jpg" class="img-fluid imgStyle" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Haji Abdul Sattar</h4>
            <span>CEO</span>
            <p class="text">I sincerely thank all of our customers who have support and trust on our company. From last 2decades we are trying our best to provide extra ordinary service for agriculture sector of Pakistan.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="./assets/leaders/Ahmad-Sattar.jpg" class="img-fluid imgStyle" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Ahmed Sattar</h4>
            <span>Director Import</span>
            <p class="text">During the last few years we have transformed our business, changing the way we do things, We are asking our people to make the best decisions for the Group as a whole, not just their little part of it.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="./assets/leaders/Abdullah.jpg" class="img-fluid imgStyle" alt="">
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>M.Abdullah</h4>
            <span>Director</span>
            <p class="text">Identifying as a leading and prominent organization. Providing the world’s best chemistry and innovative solution to their needs, where they provide consumers’ needs.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Team Section -->
