<section id="team" class="team">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <p>Our Leaders</p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <img src="http://142.93.211.78:3000/images/rehman.png" class="img-fluid imgStyle" alt="">
            <div class="social">
            </div>
          </div>
          <div class="member-info">
            <h4>Haji Abdul Rehman</h4>
            <span>Chairman</span>
            <p class="text">Our strategy is to move from good to better and from better to the best, while staying true to our identity and values.
              we should always remember that our customers are the one who have made us & brought us at prominent position in the market.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="http://142.93.211.78:3000/images/sattar.png" class="img-fluid imgStyle" alt="">
            <div class="social">
            </div>
          </div>
          <div class="member-info">
            <h4>Haji Abdul Sattar</h4>
            <span>CEO</span>
            <p class="text">I sincerely thank all of our customers who have support and trust on our company. From last 2decades we are trying our best to provide extra ordinary service for agriculture sector of Pakistan.
              <b>"There's no shortage of remarkable ideas, what's missing is the while to execute them."</b>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="http://142.93.211.78:3000/images/ahmad.png" class="img-fluid imgStyle" alt="">
            <div class="social">
            </div>
          </div>
          <div class="member-info">
            <h4>Ahmed Sattar</h4>
            <span>Director Import</span>
            <p class="text">During the last few years we have transformed our business, changing the way we do things, We are asking our people to make the best decisions for the Group as a whole, not just their little part of it.
              <b>"Every Problem is a gift-without porblems we would not grow."</b>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="http://142.93.211.78:3000/images/abdullah.png" class="img-fluid imgStyle" alt="">
            <div class="social">
            </div>
          </div>
          <div class="member-info">
            <h4>M.Abdullah</h4>
            <span>Director</span>
            <p class="text">
              Appointed as Director Administration of Abdullah Hasseeb Group in 2008, Mr.Muhammad Abdullah has been the Deputy Cheif Execute Officer of Abdullah Hasseb Group.
              <b>"I don't know the word 'quit.' Either i never did, or I have abolished it."</b>
            </p>
          </div>
        </div>
      </div>

    </div>

<div class="row">
  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
  </div>

  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="100">
      <div class="member-img">
        <img src="http://142.93.211.78:3000/images/ahsan.png" class="img-fluid imgStyle" alt="">
        <div class="social">
        </div>
      </div>
      <div class="member-info">
        <h4>Ahsan Sattar</h4>
        <span>Director Technical</span>
        <p class="text">All of Our products meet legal requirements for their distribution and commercialization in every countries of sales. We have to bring children into a new relationship to food that connects them to culture and agricultur.
          <b>"We have to bring children into a new relationship to food that connects them to culture and agricultur."</b>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="200">
      <div class="member-img">
        <img src="http://142.93.211.78:3000/images/muquite.png" class="img-fluid imgStyle" alt="">
        <div class="social">

        </div>
      </div>
      <div class="member-info">
        <h4>Abdul Muqeet Madni</h4>
        <span>C.E.O Elma AC</span>
        <p class="text">Sustainability is the core of our iniatives and operations particularly in highly intense and communities. We are focused on minimizing the impact of our endeavors on the environment and biodiversity.
          <b>"Success isn't supposed to feel comfortable"</b>
        </p>
      </div>
    </div>
  </div>


</div>

  </div>
</section>
